<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Error 404</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <br>
        {{errorMessage}}
        {{>footer}}
    </body>
</html>