<!DOCTYPE html>
<html>
    <head>
        <title>Help Me</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="mh">
            {{>header}}
        </div>
        {{!-- <h1>
            help page seperate file new
        </h1> --}}
        {{>footer}}
    </body>
</html>