<!DOCTYPE html>
<html>
    <head>
        <title>Weather Data</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="mh">
            <p>Website designed by Anup To Fetch The Weather Data.</p>
            {{>header}}

            <form>
                <input placeholder="location">
                <button>Search</button>
            </form>

            <p id="m1">
            </p>

            <p id="m2">
            </p>

            
        </div>
        


        
        {{!-- <h1>
            {{name}}
        </h1>
        <p>
            {{nickname}}
        </p> --}}
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>